{% include 'elements/page/top.html' %}
{% include 'elements/page/head.html' %}
<body>
    <body data-spy="scroll" data-target="#navbar-example">
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="preloader"></div>
    {% include 'elements/page/header.html' %}



{#    <!-- END Header -->#}
{#    <!-- Start About Area -->#}
{#    <div id ="about" class="about-area page-scroll area-padding">#}
{#        <div class="container">#}
{#            <div class="row fix">#}
{#                <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="section-head text-center">#}
{#                        #}
{#                        <hr />#}
{#                        <div class="self-btn">#}
{#                            <a class="add-btn" href="#contact">Hire me</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- end About -->#}
{#    <!-- Start Feature Area -->#}
{#    <div class="feature-area area-padding">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-sm-12"><?php#}
{#									$a = new Area('Icons');$a->setAreaGridMaximumColumns(12);$a->display($c);?>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- end About -->#}
{#    <div class="clear"></div>#}
{##}
{##}
{##}
{#    <!-- Start portfolio Area -->#}
{#    <div id="portfolio" class="portfolio-area area-padding fix">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="section-head text-center">#}
{#                        <h3>My Portfolio</h3>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Start portfolio Area -->#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12 col-xs-12"><?php#}
{##}
{#									//$a = new Area('Portfolio List');$a->setAreaGridMaximumColumns(12);$a->display($c);#}
{##}
{#                    $a = new Area('Portfolio');$a->setAreaGridMaximumColumns(12);$a->display($c);?>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <!-- Start contact Area -->#}
{#    <div id="contact" class="contact-area area-padding" style="background:url(<?php echo $view->getThemePath();?>/img/background/contact.jpg);background-repeat:no-repeat;background-size:100%;">#}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{#                <div class="col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="section-head text-center">#}
{#                        <h2>Get In Touch</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12"><?php#}
{#										$a = new Area('Contact');$a->setAreaGridMaximumColumns(12);$a->display($c);?>#}
{#                </div>#}
{#                <!-- End contact Form -->#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- End Contact Area -->#}
{#    <!-- Start Footer bottom Area -->#}
{#    <div class="footer-area text-center">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
{#                    <div class="footer-icons text-center">#}
{#                        <ul>#}
{#                            <li>#}
{#                                <a href="<?php echo $faceBookUrl;?>" target="_blank"><i class="fa fa-facebook"></i></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="<?php echo $instagramUrl;?>" target="_blank"><i class="fa fa-instagram"></i></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="<?php echo $linkedInUrl;?>" target="_blank"><i class="fa fa-linkedin"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    <div class="copyright text-center">#}
{#                        <p>#}
{#                            Copyright © <?php echo date("Y");?>  Designed By Gerry. All Rights Reserved#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% include 'elements/page/bottom.html' %}
